/* Media Queries */


/* Minimum sk채rm 548px */

@media screen and (min-width: 34.25rem) {
    /* Container */
    .container {
        max-width: calc(100% - 2rem);
    }
    /* Nav */
    .main-nav {
        flex-direction: row-reverse;
    }
    /* Top Menu */
    .top-menu-wrap {
        border-bottom: none;
        /* 1,33px */
    }
    .top-menu {
        flex-direction: row;
    }
    .top-menu .social-icons {
        margin-bottom: 0;
    }
    /* Main menu */
    .main-menu {
        justify-content: flex-start;
    }
    /* About */
    .about__stats {
        flex-direction: row;
    }
}


/* Minimum sk채rm 768px */

@media screen and (min-width: 48rem) {
    /* Container */
    .container {
        max-width: calc(100% - 2rem);
    }
    /* Nav */
    .main-nav {
        flex-direction: column;
    }
    /* Top Menu */
    .top-menu-wrap {
        display: block;
        border-bottom: 0.0833rem solid var(--clr-outline);
        /* 1,33px */
        padding: 1rem;
    }
    .top-menu {
        flex-direction: row;
        justify-content: space-between;
    }
    .top-menu .opening-hours {
        margin-bottom: 0;
        display: block;
    }
    /* Main menu */
    .navigation.hide {
        display: block;
    }
    .main-menu {
        justify-content: space-between;
    }
    .main-menu li {
        padding: 1rem;
    }
    .main-menu a {
        text-decoration: none;
        color: var(--clr-title);
        transition: color ease-in-out 0.2s;
    }
    .main-menu a:hover {
        color: var(--clr-blue);
    }
    /* Main Menu mobile */
    .main-menu-mobile {
        display: none;
    }
    /* Services */
    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    /* Appointment */
    .appointment {
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
    }
    .appointment h3 {
        margin-bottom: 0;
        flex: 1;
    }
}


/* Minimum sk채rm 1024 */

@media screen and (min-width: 64rem) {
    /* Container */
    .container {
        max-width: calc(100% - 2rem);
    }
    /* Global */
    .hide {
        display: block;
    }
    .showcase__content,
    .about__content {
        flex: 0.5;
        justify-content: center;
        text-align: left;
    }
    /* About */
    .about__stats {
        margin: 0;
    }
    /* Services */
    .card-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    /* Appointment */
    .appointment {
        text-align: left;
    }
}


/* Minimum sk채rm 1440px */

@media screen and (min-width: 90rem) {
    /* Container */
    .container {
        max-width: 88.125rem;
        /* 1410px */
    }
}